doctype html
html(lang="en")
    head
        link(href="/dist/tailwind.css" rel="stylesheet")
        script(src="./scripts/lines.js")
        script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    body
        header
            nav
                .thatline-logo
                    img(src="./img/that-line-logo.svg")
                .github-logo
                    a(href="https://github.com/thatline/thatline.github.io")
                        img.w-8(src="./img/GitHub-Mark-Light-120px-plus.png")
        section
            button.next-btn Next 🔀
            .line
            .info
                a.link(target="_blank")
                    .title
                    .artist
        
        script.
            function getRandomInt(max) {
                return Math.floor(Math.random() * max);
            }

            function cleanLine(line) {
                return "&ldquo;" + line.replaceAll("//", "<br>") + "&rdquo;";
            }

            function getNextLine() {
                return lines[getRandomInt(lines.length)];            
            }

            function updateLine() {
                var entry = getNextLine();

                $(".line").html(cleanLine(entry.line));
                $(".title").text(entry.song);
                $(".artist").text("By " + entry.artist);
                $(".link").attr("href", entry.genius_link);
            }

            updateLine();

            $(".next-btn").click(function() {
                updateLine();
            });
        script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")
        script.
            twemoji.parse(document.body);
