doctype html
html(lang="en")
    head
        title ThatLine - An archive of hard hitting rap lyrics

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        meta(property="og:url" content="https://thatline.github.io")
        meta(property="og:title" content="ThatLine - An archive of hard hitting rap lyrics")
        meta(property="og:image" content="/img/thatline - open graph.png")
        meta(property="og:type" content="website")
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:creator" content="@_Shakeel")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet")
        link(href="/dist/tailwind.css" rel="stylesheet")
    body.debug-screens
        header
            nav
                .thatline-logo
                    img(src="./img/that-line-logo.svg")
                .github-logo
                    a(href="https://github.com/thatline/thatline.github.io")
                        img.w-8(src="./img/GitHub-Mark-Light-120px-plus.png")
        section
            button.next-btn Next 🔀
            .line
            .info
                a.link(target="_blank")
                    .title
                    .artistWrapper
                        span.by By&nbsp;
                        span.artist
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")
        script(src="https://www.unpkg.com/widont@0.3.3/index.js" crossorigin="anonymous")
        script(src="/scripts/functionality.js")