@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Playfair Display', serif;
    }

    body {
        @apply p-8 text-center text-white;
        background: #1B1C1E;
    }

    section { 
        @apply my-16;
    }

    header {
        @apply top-4;
    }

    nav {
        @apply flex justify-between;
    }
}

@layer components {
    .thatline-logo img {
        @apply h-5;
    }

    .line {
        @apply font-bold mb-4;
        font-size: 7rem;
        font-style: italic;
        line-height: 9.25rem;
    }

    .info {
        @apply flex flex-col mt-16;
    }

    .info :hover {
        @apply underline;
    }

    .title {
        @apply font-bold text-xl pb-1;
    }

    .artists { 
        @apply opacity-80;
    }

    .next-btn {
        @apply rounded-lg bg-white px-8 py-4 font-black text-2xl;
        color: #1B1C1E;
    }
}

@layer utilities {
    img.emoji {
       height: 1em;
       width: 1em;
       margin: 0 .05em 0 .1em;
       vertical-align: -0.1em;
       display: inline;
    }
}