@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        /* font-family: 'Playfair Display', serif; */
        font-family: serif;
    }

    body {
        @apply p-8 text-center text-white bg-offblack;
    }

    section { 
        @apply my-16;
    }

    header {
        @apply top-4;
    }

    nav {
        @apply flex justify-between;
    }
}

@layer components {
    .thatline-logo img {
        @apply h-5;
    }

    .line {
        @apply mt-16 align-middle font-bold italic text-3xl md:text-4xl 2xl:text-5xl;
    }

    .info {
        @apply flex flex-col mt-12;
    }

    .title {
        @apply font-bold pb-1 text-xl;
    }

    .title:hover {
        @apply underline;
    }

    .artistWrapper {
        @apply opacity-80;
    }

    .next-btn {
        @apply align-middle px-4 py-2 rounded-lg border border-white text-white text-lg;
    }

    .next-btn:hover {
        @apply border-offblack bg-white text-offblack;
    }
}

@layer utilities {
    img.emoji {
       height: 1em;
       width: 1em;
       margin: 0 .05em 0 .1em;
       vertical-align: -0.1em;
       display: inline;
    }
}